.dialog-pane {
    -fx-background-color: #f0f0f0;
}

/* Content area */
.dialog-pane > .content {
    -fx-background-color: transparent;
}

.dialog-pane > .content.label {
    -fx-font-family: 'Fira Sans';
}

/* Header area */
/*
.dialog-pane .header-panel {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #bbbbbb;
}
*/

.dialog-pane .header-panel .label {
    -fx-font-family: 'Fira Sans';
}

/* Button style */
.dialog-pane .button {
    -fx-text-fill: black;
    -fx-font-family: 'Fira Sans';

    -fx-background-color: transparent;
    -fx-border-color: #4d86f1;
    -fx-border-radius: 2px;
    -fx-border-width: 1px;
}

.dialog-pane .button:hover {
    -fx-background-color: #d0d9e9;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    -fx-border-color: #4d86f1;
}

.dialog-pane .button:pressed {
    -fx-background-color: #4d86f1;
    -fx-text-fill: #ffffff;
}
