<Configuration>
	<serverIp>127.0.0.1</serverIp>
	<serverPort>8888</serverPort>
	<interfaceMode>AUTO</interfaceMode>
	<fontName>Open Sans</fontName>
	<fontSize>14</fontSize>
	<bgColorName>FFFFFF</bgColorName>
	<fgColorName>D9561D</fgColorName>
	<numberRowsDisplayable>7</numberRowsDisplayable>
	<logLevel>WARNING</logLevel>
</Configuration>
